<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "sample app", root_path, id: "logo" %>
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <% if logged_in? %>
                    <li>
                        <% if !current_user.avatar.blank? %>
                            <%= link_to image_tag(current_user.avatar, alt: "User avatar", id: "avatar"), current_user%>
                        
                        <% else %>
                            <%= link_to image_tag('avatar_default.jpg', alt: "User avatar", id: "avatar"), current_user %>
                        <% end %>
                    </li>
                    <li><%= link_to current_user.name, current_user , id: "name" %></li>
                    <% if current_user.admin? %>
                        <li>
                            <%= link_to "Users", users_path %>
                        </li>
                    <% end %>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <%= image_tag('setting.png', id: "setting") %> <!-- <span class="caret"></span> -->
                    </a>
                        <ul class="dropdown-menu">
                            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                            <li class="divider"></li>
                            <li>
                                <%= link_to "Log out", logout_path, method: "delete" %>
                            </li>
                        </ul>
                     </li>
                <% else %>
                    <li>
                        <%= link_to image_tag('sign_up.png', id: "icon"), new_user_path %>
                    </li>
                    <li>
                        <%= link_to "Sign up", new_user_path %>
                    </li>
                    <li>
                        <%= link_to image_tag('login.png', id: "icon"), login_path %>
                    </li>
                    <li>
                        <%= link_to "Log in", login_path %>
                    </li>
                <% end %>
            </ul>
        </nav>
    </div>
</header>


<script type="text/javascript">
  $('#user_avatar').bind('change', function() {
    size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>